@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300 & display=swap');

.navbar {
    background-color: #04ecd5;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #048cb3;
}
body {
    font-family:'Poppins', Arial;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
header {
    background-color: #04ecd5;
    color: #fff;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
}
#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}
p {
    font-size: 20px;
    font-weight: 500;
}
img {
    max-width: 100%;
    height: auto;
    margin: 30px 0;
}
span{
    color: blue;
    font-weight: 600;
}
footer {
    background-color: #04ecd5;
    color: #fff;
    text-align: center;
    padding: 10px;
}